{% extends '/layout/admin-layout.html.twig' %}

{% block stylesheet %}
{{ parent() }}
    <link href="{{ asset('assets/css/admin/product.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/global/uploaded-image-plugin.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
    Mise à jour du produit : {{ product.title }}
{% endblock %}

{% block container %}
    <section>
        <div class="wrapper-grid-container">
            <h1>Mise à jour du produit : {{ product.title }}</h1>
            <div class="form-container">
                {{ form_start(form) }}
                <div class="floating-label" style="margin: 2em 0">
                    {{ form_widget(form.title) }}
                    {{ form_label(form.title) }}
                </div>
                <div class="floating-label" style="margin: 2em 0">
                    {{ form_widget(form.description) }}
                    {{ form_label(form.description) }}
                </div>
                <div class="floating-label" style="margin: 2em 0">
                    {{ form_widget(form.category) }}
                </div>
                <div class="images-container">
                    {% for images in product.images %}
                        <figure class="img-container">
                            <img src="{{ images.path }}" class="img-fluid  product-image" alt="{{ product.title }}" id="blah" data-id="{{ images.id }}"/>
                            <div class="update-img">
                                <a href="#"><i class="fas fa-star {% if images.main == 1 %}gold {% endif %}" data-id="{{ images.id }}"></i></a>
                                <a href="#"><i class="fas fa-trash"></i></a>
                            </div>
                        </figure>
                    {% endfor %}
                </div>
                <div style="margin-bottom: 2em;">
                    <button type="submit" class="btn btn-mout">Enregistrer</button>
                </div>
                {{ form_end(form) }}
                </div>
            <div id="uploaded-images"></div>
            </div>
    </section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/admin/image-add.js') }}"></script>
<script src="{{ asset('assets/js/admin/delete-image.js') }}"></script>
<script src="{{ asset('assets/js/admin/image-favorite.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#uploaded-images').uploadedImg({
                script: '{{ path('imageAdd', {'productId': product.id}) }}',
            });
        });
    </script>
{% endblock %}