{% extends 'layout/layout.html.twig' %}

{% block description %}
    CSLoisirsCréatifs. Bienvenue sur mon site.
{% endblock %}

{% block title %}
    CSLoisirsCréatifs - Accueil
{% endblock %}

{% block container %}
<section>
    <div class="wrapper-grid-container">
        <div  class="home-wrapper-grid">
            <div><img src="{{ asset('assets/images/new-york-city-801867_1920.jpg') }}" alt="test" class="img-fluid" /> </div>
            <div class="formations-container">
                <h2 id="stage-title">Stages
                    <i class="fas fa-chevron-down formation-button-down"></i>
                </h2>
                {% for key, area in formations %}
                    <div class="formation-content">
                        <h3 class="area-title">{{ key }}</h3>
                    {% for formation in area %}
                        <h4>{{ formation.title }}</h4>
                        <p>{{ formation.description }}</p>
                        <p>- <strong>Du {{ formation.startDate|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }} au {{ formation.endDate|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}</strong></p>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="gifts-container">
            <p><i class="fas fa-gifts fa-2x"></i> </p>
            <h2>chèque cadeau</h2>
            <p>À offrir, une journée créative pour découvrir ou se perfectionner en encadrement, cartonnage…</p>
        </div>

        <div  class="section-wrapper-grid m-top-3">
            <div class="learn-build-container">
                <h2 id="learn">APPRENDRE, CRÉER & <br>S’AMUSER</h2>
                <p>Apprenez les différentes techniques du travail du carton <span class="font-weight-bold"> (cartonnage, encadrement, abat-jours et création de meubles)</span> dans mon atelier à Anet
                    (28260) ou lors de stages sur plusieurs jours.</p>
                <p>Vous appécierez la réalisation d'objets uniques et personnels en faisant appel à <span class="font-weight-bold">votre savoir-faire,
                    votre créativité </span>et le choix des couleurs du tissu ou des papiers.</p>
                <p>Les cours se déroulent à la journée dans une ambiance conviviale et s'adressent aux <span class="font-weight-bold">débutants comme aux confirmés</span>.
                </p>
            </div>
            <div><img src="{{ asset('assets/images/new-york-city-801867_1920.jpg') }}" alt="test" class="img-fluid" /> </div>
        </div>

        <div class="section-wrapper-grid col-grid-4 m-top-3 gap-1  category-container">
            {% for category in categories %}
            <a href="{{ path('showPubCat', {'category': category.slug}) }}">
                <div class="img-category">
                    <img src="{{ asset('assets/images/new-york-city-801867_1920.jpg') }}" class="img-fluid" alt="test1" />
                    <span>{{ category.category }}</span>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>
</section>
{% endblock %}