{% extends 'layout/layout.html.twig' %}

{% block container %}
    <section>
        <div  class="product-container m-top-3">
            <div class="product-grid-img-container">
                <div>
                    {% for image in product.images if image.main > 0 %}
                            <img src="{{ image.path }}" alt="{{ product.title }}" class="img-fluid main-image" />
                    {% endfor %}
                </div>
                <div class="small-img-container">
                    <div class="slick-test">
                        {% for image in product.images  if image.main <1 %}
                            <div><img src="{{ image.path }}" alt="{{ product.title }}" class="img-fluid slide-img" /></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <h2 class="product-title">{{ product.title }}</h2>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function(){
        $('.slick-test').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 3
        });
    });
</script>
{% endblock %}