{% extends 'layout/layout.html.twig' %}

{% block container %}
<section>
    <h1 class="text-center">{{ category.category }}</h1>
    <div  class="product-grid-container">
        {% for product in category.products %}
            {% for image in product.images %}
            {% if image.main > 0 %}
                <div class="product-img-container">
                    <img src="{{ image.path }}" alt="{{ product.title }}" class="img-fluid" />
                    <a href="{{ path('showProductPub', {'category': category.slug | lower, 'slug': product.slug}) }}" class="overlay-img-product">
                        <div>
                            <span>{{ product.title }}</span>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</section>

{% endblock %}